Repository octopize/avatar-deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-authentik-templates, check-version-bump, update-image-versions

sync-authentik-templates:
  name: Sync authentik values common to Helm and Docker
  entry: ./sync-templates.py
  language: python
  pass_filenames: false
  description: Synchronizes files from common/ to Helm chart and docker
  verbose: true

check-version-bump:
  name: Check version bump when templates or scripts change
  entry: ./scripts/check-version-bump.py
  language: python
  pass_filenames: false
  description: Ensures version is bumped when templates or deployment tool code changes
  verbose: true

update-image-versions:
  name: Update image versions from registries
  entry: ./scripts/update-image-versions.py
  language: python
  pass_filenames: false
  description: Checks quay.io and ghcr.io for latest image versions and updates defaults.yaml
  verbose: true
  additional_dependencies:
  - pyyaml>=6.0
  - requests>=2.31.0

test: update fixtures
  docker/deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  docker/deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
Due: none

feat: MOOOOOAR
  Makefile
  deployment-tool/examples/demo_rich_ui.py
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/tests/MISSING_CLI_TESTS.md
  docker/Makefile
  docker/authentik/blueprints/.gitignore
  docker/authentik/blueprints/staging-export.yaml
  docs/IMAGE_VERSION_UPDATES.md
  justfile
  scripts/update-image-versions.py
Due: none

feat: use newer authentik version
  .pre-commit-config.yaml
  deployment-tool/src/octopize_avatar_deploy/steps/telemetry.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/output.txt
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/output.txt
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/save_config_with_existing/output.txt
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  deployment-tool/tests/unit/test_deployment_configurator.py
  docker/templates/.template-version
Due: check-version-bump

docs: modify README's
  .github/workflows/release-deploy-tool.yaml
  deployment-tool/README.md
  deployment-tool/src/octopize_avatar_deploy/configure.py
  deployment-tool/src/octopize_avatar_deploy/download_templates.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  docker/.secrets/.gitignore
  docker/.secrets/.gitkeep
  docker/README.md
  docker/plan-seaweedfs-subchart.md
  docker/shared/.gitkeep
Due: none

fix: remove media folder
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  docker/templates/.template-version
  docker/templates/docker-compose.yml
Due: check-version-bump

chore: bump version to 0.3.0
  deployment-tool/pyproject.toml
Due: none

feat: add authentik automated passwords
  deployment-tool/src/octopize_avatar_deploy/steps/authentik.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/input.yaml
  deployment-tool/tests/fixtures/basic_deployment/output.txt
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/input.yaml
  deployment-tool/tests/fixtures/cloud_storage/output.txt
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/invalid_port_config/output.txt
  deployment-tool/tests/fixtures/invalid_url_config/output.txt
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/input.yaml
  deployment-tool/tests/fixtures/no_telemetry/output.txt
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/output.txt
  deployment-tool/tests/fixtures/non_interactive_incomplete_config/output.txt
  deployment-tool/tests/fixtures/non_interactive_partial_config/output.txt
  deployment-tool/tests/fixtures/output_dir_nested/output.txt
  deployment-tool/tests/fixtures/resume_interrupted/first_run/output.txt
  deployment-tool/tests/fixtures/resume_interrupted/resume/output.txt
  deployment-tool/tests/fixtures/save_config_interactive/output.txt
  deployment-tool/tests/fixtures/save_config_with_existing/output.txt
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  deployment-tool/tests/fixtures/type_mismatch_config/output.txt
  deployment-tool/tests/steps/test_authentik.py
  docker/templates/.template-version
Due: check-version-bump

feat(scripts): enhance blueprint converter with intelligent filtering
  .check-yaml-ignore
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint-from-staging.yaml
  scripts/CONVERT_BLUEPRINT_README.md
  scripts/README.md
  scripts/convert-blueprint-to-find.py
  scripts/update-image-versions.py
  scripts/validate-authentik-blueprint.py
Due: check-version-bump

feat: export the template to jinja2 format
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml.j2
  scripts/convert-blueprint-to-find.py
Due: check-version-bump

fix: make jinja template be remplaceable
  docker/templates/authentik/octopize-avatar-blueprint.yaml.j2
  scripts/convert-blueprint-to-find.py
Due: check-version-bump

fix: pass authentik bootstrap as env variables
  deployment-tool/src/octopize_avatar_deploy/steps/authentik.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/conftest.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/basic_deployment/output.txt
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/output.txt
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/invalid_port_config/output.txt
  deployment-tool/tests/fixtures/invalid_url_config/output.txt
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/output.txt
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/output.txt
  deployment-tool/tests/fixtures/non_interactive_incomplete_config/output.txt
  deployment-tool/tests/fixtures/non_interactive_partial_config/output.txt
  deployment-tool/tests/fixtures/output_dir_nested/output.txt
  deployment-tool/tests/fixtures/save_config_interactive/output.txt
  deployment-tool/tests/fixtures/save_config_with_existing/output.txt
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  deployment-tool/tests/fixtures/type_mismatch_config/output.txt
  deployment-tool/tests/integration/test_cli_integration.py
  deployment-tool/tests/steps/test_authentik.py
  docker/templates/.env.template
  docker/templates/.template-version
  docker/templates/docker-compose.yml
Due: check-version-bump

fix: successfully use blueprints to bootstrap authentik deployment
  .check-yaml-ignore
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint-from-staging.yaml
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  docker/templates/docker-compose.yml
  docker/templates/nginx.conf.template
  justfile
  scripts/CONVERT_BLUEPRINT_README.md
  scripts/authentik-blueprint/README.md
  scripts/authentik-blueprint/pyproject.toml
  scripts/authentik-blueprint/src/authentik_blueprint/__init__.py
  scripts/authentik-blueprint/src/authentik_blueprint/cli.py
  scripts/authentik-blueprint/src/authentik_blueprint/converter.py
  scripts/authentik-blueprint/src/authentik_blueprint/validator.py
  scripts/authentik-blueprint/tests/fixtures/expected-output.yaml
  scripts/authentik-blueprint/tests/fixtures/expected-sample.yaml
  scripts/authentik-blueprint/tests/fixtures/input-sample.yaml
  scripts/authentik-blueprint/tests/test_converter.py
  scripts/authentik-blueprint/uv.lock
Due: check-version-bump

chore: update deploy-tool fixtures
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/basic_deployment/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
Due: none

chore: bump version to 0.4.0
  deployment-tool/pyproject.toml
Due: none

fix: have the avatar-brand be not on by default
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump

feat: pass SSO_PROVIDER_URL to web and add GrabAvatarRole scope mapping
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  docker/templates/docker-compose.yml.template
  justfile
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump

chore: bump version to 0.5.0
  deployment-tool/pyproject.toml
Due: none

feat(docker): move logs to stderr and store data in volumes
  docker/templates/docker-compose.yml.template
Due: check-version-bump

chore: update deploy tool template
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/uv.lock
  docker/templates/.template-version
Due: check-version-bump

chore: bump version to 0.6.0
  deployment-tool/pyproject.toml
Due: none

fix: authentik self-service email blueprint
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/uv.lock
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  scripts/authentik-blueprint/tests/fixtures/expected-sample.yaml
  scripts/authentik-blueprint/tests/fixtures/input-sample.yaml
  scripts/authentik-blueprint/tests/test_converter.py
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump

feat(deploy-tool): update defaults
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
Due: check-version-bump

chore: bump version to 0.7.0
  deployment-tool/pyproject.toml
Due: none

chore: deploy chart 0.0.45
  services-api-helm-chart/Chart.yaml
Due: none

chore(helm): update chart 0.0.46
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/authentik-blueprint-secret.yaml
  services-api-helm-chart/values.yaml
Due: none

chore: update justfile
  justfile
Due: none

fix(helm): change email mount paths
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/values.yaml
Due: none

chore: bump version to 0.8.0
  deployment-tool/pyproject.toml
Due: none

Path conditions:
  sync-authentik-templates: any of: ^common/
  check-version-bump: any of: ^(docker/templates/|docker/deployment-tool/src/)
  update-image-versions: any of: ^docker/deployment-tool/defaults\.yaml$
