Repository octopize/avatar-deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

sync-authentik-templates:
  name: Sync authentik values common to Helm and Docker
  entry: ./scripts/sync-templates.py
  language: python
  pass_filenames: false
  description: Synchronizes files from common/ to Helm chart and docker
  verbose: true

check-version-bump:
  name: Check version bump when templates or scripts change
  entry: ./scripts/check-version-bump.py
  language: python
  pass_filenames: false
  description: Ensures version is bumped when templates or deployment tool code changes
  verbose: true

validate-authentik-blueprint:
  name: Validate Authentik blueprint template
  entry: python scripts/validate-authentik-blueprint.py
  language: python
  pass_filenames: false
  description: Validates Authentik blueprint template for correctness
  verbose: true

lint-helm-templates:
  name: Lint Helm chart templates
  entry: uv run scripts/lint-helm-templates.py
  language: python
  pass_filenames: false
  description: Renders and lints Helm templates with yamllint
  verbose: true

check-yaml-custom:
  name: Check YAML files (with ignore support)
  entry: uv run scripts/check-yaml.py
  language: python
  args:
  - --unsafe
  description: Check YAML files for syntax errors, respecting .check-yaml-ignore
  verbose: true

chore(helm): release version 0.0.48
  common/authentik-css/custom.css
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/css/custom.css
  docker/authentik/css/custom.css
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/static/css/custom.css
  services-api-helm-chart/templates/authentik-custom-css-configmap.yaml
Due: sync-authentik-templates, lint-helm-templates, check-yaml-custom

chore(helm): release version 0.0.49
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

fix(helm): fix CSS configmap - nindent+regex arg order for blank lines
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/authentik-custom-css-configmap.yaml
Due: lint-helm-templates, check-yaml-custom

fix(helm): use /sso prefix in branding_custom_css @import URL
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  common/authentik-css/custom.css
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/uv.lock
  docker/authentik/css/custom.css
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/css/custom.css
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

fix(css): fix recovery background image, focus ring color, and locale selector contrast
  common/authentik-css/custom.css
  docker/authentik/css/custom.css
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/static/css/custom.css
Due: sync-authentik-templates, lint-helm-templates, check-yaml-custom

fix(css): teal focus ring on bare inputs; fix recovery flow background via blueprint
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  common/authentik-css/custom.css
  docker/authentik/css/custom.css
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/css/custom.css
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

feat(authentik): make CSS pretty
  AGENTS.md
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  common/authentik-css/custom.css
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/css/custom.css
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/authentik/css/custom.css
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/css/custom.css
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore(helm): release version 0.0.54
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

fix: add telemetry secrets to the helper
  services-api-helm-chart/templates/_helpers.tpl
Due: lint-helm-templates

fix: revert wrong change
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
Due: check-yaml-custom

fix: add telemetry secrets to the api container
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
Due: check-yaml-custom

fix: docker
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
Due: check-yaml-custom

fix: add telemetry secrets for helm (#46)
  services-api-helm-chart/templates/_helpers.tpl
Due: lint-helm-templates

chore: re-export staging blueprint
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  scripts/authentik-blueprint/src/authentik_blueprint/converter.py
  scripts/authentik-blueprint/tests/fixtures/expected-output.yaml
  scripts/sync-templates.py
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore(helm): release helm chart version 0.0.55
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore(helm): add AVATAR_AUTHENTIK_URL to web config, release 0.0.56
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/web-config-map.yaml
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump version to 0.9.0
  deployment-tool/pyproject.toml
  deployment-tool/uv.lock
Due: none

fix(helm): add missing AVATAR_AUTHENTIK_URL env var to web deployment
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/web-deployment.yml
Due: lint-helm-templates, check-yaml-custom

create plan
  SEAWEEDFS_MIGRATION_PLAN.md
Due: none

feat: add diagnose.py to diagnose docker filesystem issues
  scripts/diagnose.py
Due: none

feat: add migration-related flows to blueprint
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/src/octopize_avatar_deploy/steps/telemetry.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  scripts/authentik-blueprint/src/authentik_blueprint/converter.py
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore: bump version to 0.10.0
  deployment-tool/pyproject.toml
Due: none

chore: bump version to 1.0.0
  deployment-tool/pyproject.toml
Due: none

chore: bump version to 1.1.0
  deployment-tool/pyproject.toml
Due: none

update plan
  SEAWEEDFS_MIGRATION_PLAN.md
Due: none

push uv.lock
  deployment-tool/uv.lock
Due: none

chore(deploy-tool): update defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/configure.py
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/download_templates.py
  deployment-tool/src/octopize_avatar_deploy/generate_env_paths.py
  deployment-tool/src/octopize_avatar_deploy/steps/target_environment.py
  deployment-tool/src/octopize_avatar_deploy/topology_urls.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/integration/test_generate_env.py
  deployment-tool/tests/steps/test_target_environment.py
  deployment-tool/tests/unit/test_topology_urls.py
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.1.1
  deployment-tool/justfile
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

do not trigger check-version-bump failure if version only change
  scripts/check-version-bump.py
Due: none

chore(helm): release version 0.0.58
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat: add sync_tables CronJob to Helm chart
  deployment-tool/tests/integration/test_cli_integration.py
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/sync-tables-cronjob.yaml
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

style: enable cron by default
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore: update chart version
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat: add sync_tables CronJob to Helm chart (#49)
  deployment-tool/tests/integration/test_cli_integration.py
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/sync-tables-cronjob.yaml
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

Path conditions:
  sync-authentik-templates: any of: ^common/
  check-version-bump: any of: ^(docker/templates/|deployment-tool/src/)
  validate-authentik-blueprint: any of: ^docker/templates/authentik/octopize-avatar-blueprint\.yaml$
  lint-helm-templates: any of: ^services-api-helm-chart/(templates/|values\.yaml|Chart\.yaml)
  check-yaml-custom: any of: \.(yaml|yml)$
