Repository octopize/avatar-deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files
# Update hooks: pre-commit autoupdate

repos:
  # Synchronize authentik templates before commit
  - repo: local
    hooks:
      - id: sync-authentik-templates
        name: Sync authentik values common to Helm and Docker
        entry: ./scripts/sync-templates.py
        language: python
        pass_filenames: false
        files: ^common/
        description: "Synchronizes files from common/ to Helm chart and docker"
        verbose: true

      - id: check-version-bump
        name: Check version bump when templates or scripts change
        entry: ./scripts/check-version-bump.py
        language: python
        pass_filenames: false
        files: ^(docker/templates/|deployment-tool/src/)
        description: "Ensures version is bumped when templates or deployment tool code changes"
        verbose: true

      - id: update-image-versions
        name: Update image versions from registries
        entry: uv run ./scripts/update-image-versions.py
        language: python
        pass_filenames: false
        always_run: true
        files: ^deployment-tool/defaults\.yaml$
        description: "Checks quay.io and ghcr.io for latest image versions and updates defaults.yaml"
        verbose: true

      - id: validate-authentik-blueprint
        name: Validate Authentik blueprint template
        entry: python scripts/validate-authentik-blueprint.py
        language: python
        pass_filenames: false
        files: ^docker/templates/authentik/octopize-avatar-blueprint\.yaml$
        description: "Validates Authentik blueprint template for correctness"
        verbose: true

      - id: lint-helm-templates
        name: Lint Helm chart templates
        entry: uv run scripts/lint-helm-templates.py
        language: python
        pass_filenames: false
        files: ^services-api-helm-chart/(templates/|values\.yaml|Chart\.yaml)
        description: "Renders and lints Helm templates with yamllint"
        verbose: true

  # Custom YAML checker with ignore file support
  - repo: local
    hooks:
      - id: check-yaml-custom
        name: Check YAML files (with ignore support)
        entry: uv run scripts/check-yaml.py
        language: python
        types: [yaml]
        args: ['--unsafe']  # Allow custom YAML tags
        description: "Check YAML files for syntax errors, respecting .check-yaml-ignore"
        verbose: true

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^.*\.(md|html)$
      - id: end-of-file-fixer
        exclude: ^.*\.html$
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # YAML linting (optional - uncomment if desired)
  # - repo: https://github.com/adrienverge/yamllint
  #   rev: v1.33.0
  #   hooks:
  #     - id: yamllint
  #       args: [--format, parsable, --strict]
  #       exclude: ^services-api-helm-chart/templates/

  # Shellcheck for bash scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        files: \.(sh|bash)$

chore(helm): remove helm chart pod label and add checksum pod label
  services-api-helm-chart/templates/_helpers.tpl
  services-api-helm-chart/templates/api-deployment.yaml
  services-api-helm-chart/templates/pdfgenerator-deployment.yml
  services-api-helm-chart/templates/sync-tables-cronjob.yaml
  services-api-helm-chart/templates/web-deployment.yml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.74
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.76
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore(helm): set labels back as before
  services-api-helm-chart/templates/api-deployment.yaml
  services-api-helm-chart/templates/pdfgenerator-deployment.yml
  services-api-helm-chart/templates/sync-tables-cronjob.yaml
  services-api-helm-chart/templates/web-deployment.yml
Due: lint-helm-templates, check-yaml-custom

feat(deploy-tool0): update default api and seaweedfs image versions
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.env
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.env
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.env
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.env
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.env
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.5.0
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

fix(deploy-tool): add storage encryption key for seaweedfs 4.21
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/steps/storage.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.env
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/basic_deployment/output.txt
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.env
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/output.txt
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.env
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/output.txt
  deployment-tool/tests/fixtures/invalid_port_config/output.txt
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.env
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/output.txt
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.env
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/output.txt
  deployment-tool/tests/fixtures/non_interactive_incomplete_config/output.txt
  deployment-tool/tests/fixtures/non_interactive_partial_config/output.txt
  deployment-tool/tests/fixtures/output_dir_nested/output.txt
  deployment-tool/tests/fixtures/save_config_interactive/output.txt
  deployment-tool/tests/fixtures/save_config_with_existing/output.txt
  deployment-tool/tests/fixtures/template_from_local_verbose/output.txt
  deployment-tool/tests/fixtures/type_mismatch_config/output.txt
  docker/templates/.template-version
  docker/templates/docker-compose.yml.template
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.6.0
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

chore(deploy-tool): add newest api
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.6.1
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

feat: add deploy-tool docker image
  .github/workflows/release-deploy-tool.yaml
  deployment-tool/README.md
  deployment-tool/justfile
Due: check-yaml-custom

chore: bump version to 1.6.2
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

chore: add Dockerfile for deployment-tool
  deployment-tool/Dockerfile
Due: none

chore: bump version to 1.6.3
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

feat: add authentik database cleanup scripts
  scripts/README.md
  scripts/authentik-db-cleanup.py
  scripts/authentik-db-cleanup.sh
Due: none

fix(converter): Sanitize blueprint exports for portability
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  scripts/authentik-blueprint/src/authentik_blueprint/converter.py
  scripts/authentik-blueprint/tests/fixtures/expected-sample.yaml
  scripts/authentik-blueprint/tests/test_converter.py
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore: bump helm chart version to 0.0.77
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: update deploy-tool defaults
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.6.4
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.env
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.env
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.env
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.env
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.env
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/uv.lock
Due: check-version-bump, check-yaml-custom

fix(deploy-tool): add /web/ suffix to AVATAR_WEB_CLIENT_URL
  deployment-tool/src/octopize_avatar_deploy/steps/email.py
  deployment-tool/src/octopize_avatar_deploy/steps/target_environment.py
  deployment-tool/src/octopize_avatar_deploy/topology_urls.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.env
  deployment-tool/tests/fixtures/cloud_storage/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.env
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.env
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.env
  deployment-tool/tests/fixtures/no_telemetry/expected/.env
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.env
  deployment-tool/tests/integration/test_cli_integration.py
  deployment-tool/tests/integration/test_generate_env.py
  deployment-tool/tests/steps/test_user.py
  deployment-tool/tests/steps/test_user_validation.py
  deployment-tool/tests/unit/test_topology_urls.py
  docker/templates/.template-version
  docker/templates/_env_fragment_infra.template
Due: check-version-bump

feat(helm): add Kubernetes network policies
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  services-api-helm-chart/templates/network-policies.yaml
  services-api-helm-chart/values.yaml
Due: check-version-bump, lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.78
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

Archive repository and update README
  README.md
Due: none
