Repository octopize/avatar-deployment: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

sync-authentik-templates:
  name: Sync authentik values common to Helm and Docker
  entry: ./scripts/sync-templates.py
  language: python
  pass_filenames: false
  description: Synchronizes files from common/ to Helm chart and docker
  verbose: true

check-version-bump:
  name: Check version bump when templates or scripts change
  entry: ./scripts/check-version-bump.py
  language: python
  pass_filenames: false
  description: Ensures version is bumped when templates or deployment tool code changes
  verbose: true

validate-authentik-blueprint:
  name: Validate Authentik blueprint template
  entry: python scripts/validate-authentik-blueprint.py
  language: python
  pass_filenames: false
  description: Validates Authentik blueprint template for correctness
  verbose: true

lint-helm-templates:
  name: Lint Helm chart templates
  entry: uv run scripts/lint-helm-templates.py
  language: python
  pass_filenames: false
  description: Renders and lints Helm templates with yamllint
  verbose: true

check-yaml-custom:
  name: Check YAML files (with ignore support)
  entry: uv run scripts/check-yaml.py
  language: python
  args:
  - --unsafe
  description: Check YAML files for syntax errors, respecting .check-yaml-ignore
  verbose: true

chore(helm): release helm chart version to 0.60.0
  helm.just
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/_helpers.tpl
  services-api-helm-chart/templates/api-deployment.yaml
  services-api-helm-chart/templates/sync-tables-cronjob.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump version to 1.2.0
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/uv.lock
Due: check-version-bump, check-yaml-custom

refactor(deployment-tool): remove username login
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/steps/email.py
  deployment-tool/src/octopize_avatar_deploy/steps/user.py
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/integration/test_generate_env.py
  deployment-tool/tests/steps/test_email.py
  deployment-tool/tests/steps/test_nginx.py
  deployment-tool/tests/steps/test_user.py
  deployment-tool/tests/steps/test_user_validation.py
  docker/templates/.template-version
  docker/templates/_env_fragment_api.template
  docker/templates/api.env.template
  docker/templates/docker-compose.yml.template
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/api-config-map.yaml
  services-api-helm-chart/templates/api-deployment.yaml
  services-api-helm-chart/templates/api-secrets.yaml
  services-api-helm-chart/values.yaml
Due: check-version-bump, lint-helm-templates, check-yaml-custom

refactor: modify helm and docker for new seaweedfs version
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/basic_deployment/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/nginx/nginx.conf
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/nginx/nginx.conf
  docker/nginx/nginx.conf
  docker/templates/.template-version
  docker/templates/_env_fragment_infra.template
  docker/templates/docker-compose.yml.template
  docker/templates/nginx.conf.template
  services-api-helm-chart/templates/_helpers.tpl
  services-api-helm-chart/templates/api-config-map.yaml
  services-api-helm-chart/values.yaml
Due: check-version-bump, lint-helm-templates, check-yaml-custom

chore: bump version to 1.3.0
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

chore(helm): deploy chart version 0.0.62
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

fix(authentik): create two separate UserWrite stages for self service signup
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore: remove custom seaweedfs image from bump script
  scripts/update-image-versions.py
Due: none

chore(deploy-tool): update defaults and blueprint
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
Due: check-version-bump, check-yaml-custom

chore: bump version to 1.4.0
  deployment-tool/pyproject.toml
  deployment-tool/src/octopize_avatar_deploy/__init__.py
  deployment-tool/uv.lock
Due: check-version-bump

chore(helm): update chart to 0.0.63
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat: set refresh_token lifetime to 7 days and rotate them every time
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/src/octopize_avatar_deploy/version_compat.py
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

change color of banner and buttons
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore(helm): deploy helm chart 0.0.64
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat: hide username and set it to email content in authentik
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore(helm): update chart to 0.0.65
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: add helm niceties to justfile
  helm.just
  justfile
Due: none

feat(helm): move dask to helm chart
  services-api-helm-chart/Chart.lock
  services-api-helm-chart/Chart.yaml
  services-api-helm-chart/templates/_helpers.tpl
  services-api-helm-chart/templates/api-config-map.yaml
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.66
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat: add google oauth source to blueprint
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
  services-api-helm-chart/values.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

chore: udpate converter scripts to handle integer primary keys
  scripts/authentik-blueprint/src/authentik_blueprint/converter.py
Due: none

chore: bump helm chart version to 0.0.67
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: improve authentik blueprint verification steps
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  justfile
  scripts/authentik-blueprint/README.md
  scripts/authentik-blueprint/pyproject.toml
  scripts/authentik-blueprint/src/authentik_blueprint/cli.py
  scripts/authentik-blueprint/src/authentik_blueprint/live_verifier.py
  scripts/authentik-blueprint/src/authentik_blueprint/schema_checker.py
  scripts/authentik-blueprint/src/authentik_blueprint/validator.py
  scripts/authentik-blueprint/tests/test_live_verifier.py
  scripts/authentik-blueprint/tests/test_schema_checker.py
  scripts/authentik-blueprint/tests/test_validator.py
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
  services-api-helm-chart/templates/web-config-map.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.68
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore(helm): put back AVATAR_AUTHENTIK_URL
  services-api-helm-chart/templates/web-config-map.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.69
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: use dark text on teal backgrounds
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

feat(authentik): redirect to signup if user does not exist
  common/authentik-blueprint/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/authentik/octopize-avatar-blueprint.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/authentik/octopize-avatar-blueprint.yaml
  docker/templates/.template-version
  docker/templates/authentik/octopize-avatar-blueprint.yaml
  services-api-helm-chart/static/blueprint/octopize-avatar-blueprint.yaml
Due: sync-authentik-templates, check-version-bump, validate-authentik-blueprint, check-yaml-custom

chore: bump helm chart version to 0.0.70
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: enable sentry for dasK
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore: update deployment-tool default versions
  deployment-tool/src/octopize_avatar_deploy/defaults.yaml
Due: check-version-bump, check-yaml-custom

chore: bump helm chart version to 0.0.71
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

feat(docker): restrict container communication using network partitioning
  deployment-tool/tests/fixtures/basic_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/basic_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/cloud_storage/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/cloud_storage/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/deployment-config.yaml
  deployment-tool/tests/fixtures/config_round_trip_first/expected/docker-compose.yml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/config_round_trip_second/expected/docker-compose.yml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/dev_mode_deployment/expected/docker-compose.yml
  deployment-tool/tests/fixtures/no_telemetry/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/no_telemetry/expected/docker-compose.yml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/.deployment-state.yaml
  deployment-tool/tests/fixtures/non_interactive_complete/expected/docker-compose.yml
  docker/docs/network-topology.md
  docker/templates/.template-version
  docker/templates/docker-compose.yml.template
Due: check-version-bump, check-yaml-custom

chore: add ENV_NAME to dask pods
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.72
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore: bump helm chart version to 0.0.73
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

chore(helm): delete outdated values and env variables
  services-api-helm-chart/templates/api-config-map.yaml
  services-api-helm-chart/templates/api-service.yaml
  services-api-helm-chart/templates/ingress.yaml
  services-api-helm-chart/values.yaml
Due: lint-helm-templates, check-yaml-custom

chore(helm): remove IS_TELEMETRY_ENABLED from configmap
  services-api-helm-chart/templates/_helpers.tpl
Due: lint-helm-templates

chore: bump helm chart version to 0.0.75
  services-api-helm-chart/Chart.yaml
Due: lint-helm-templates, check-yaml-custom

Path conditions:
  sync-authentik-templates: any of: ^common/
  check-version-bump: any of: ^(docker/templates/|deployment-tool/src/)
  validate-authentik-blueprint: any of: ^docker/templates/authentik/octopize-avatar-blueprint\.yaml$
  lint-helm-templates: any of: ^services-api-helm-chart/(templates/|values\.yaml|Chart\.yaml)
  check-yaml-custom: any of: \.(yaml|yml)$
